*{
    color: rgb(0, 0, 0);
    font-family: myFont;
    font-size: 115%;
    
}

@font-face {
    font-family: myFont;
    src: url(font/orange\ juice\ 2.0.ttf);
}

html {
    height: 100%;
    width: 100%;
}

body {
    justify-content: center;
    align-items: center; 
    background-color: rgb(255, 127, 39);
}

#wrapper1 {
    position: relative;
    width: 90%;
    left: 5%;
}

#title{
    position: relative;
    font-size: xxx-large;
    text-align: center;
    border: cornsilk;
    background-color: crimson;
    border: 2px dotted black;
}

#score {
    position: relative;
    margin: 20px;
    text-align: center;
}

#wrapper2 {
    position: relative;
    width: 90%;
    left: 5%;
}

#wordToGuess{
    position: absolute;
    width: 50%;
    top: 50px;
    left: 12%;
    height: 50px;   
    text-align: center; 
    font-size: xx-large;
    border-bottom: 2px solid black;
}

#container {
    position: absolute; 
    width: 100px;
    background-color: antiquewhite; 
    left: 75%;
}

#head {
    position: absolute;
    visibility:  hidden;
    left: 35px;
    margin: 20px;
    height: 30px;
    width: 30px;
    /* background-color: darkgreen; */
    content: url("data/Head.png");
}

#neck {
    position: absolute;
    visibility:  hidden;
    left: 45px;
    top: 30px;
    margin: 20px;
    height: 10px;
    width: 10px;
    content: url("data/Neck.png");

}
#body {
    position: absolute;
    visibility:  hidden;
    left: 30px;
    top: 40px;
    margin: 20px;
    height: 50px;
    width: 40px;
    content: url("data/Body.png");
}
#larm {
    position: absolute;
    visibility:  hidden;
    top: 40px;
    margin: 20px;
    height: 15px;
    width: 30px;
    content: url("data/Rarm.png");

}
#rarm {
    position: absolute;
    visibility:  hidden;
    left: 70px;
    top: 40px;
    margin: 20px;
    height: 15px;
    width: 30px;
    content: url("data/Larm.png");

}
#lleg {
    position: absolute;
    visibility:  hidden;
    top: 90px;
    left: 39px;
    margin: 20px;
    height: 30px;
    width: 10px;
    content: url("data/Rleg.png");

}
#rleg{
    position: absolute;
    visibility:  hidden;
    top: 90px;
    left: 51px;
    margin: 20px;
    height: 30px;
    width: 10px;
    content: url("data/Lleg.png");
}

#wrapper3 {
    position: absolute;
    width: 90%;
    height: 35%;
    left: 5%;
    bottom: 10%;
}

#clickedLetters{
    position: relative;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    border-bottom: 2px solid black;
}

table {
    position: relative;
    width: 100%;
    top: 15%;
}

td{
    text-align: center;
    height: 30px;
    width: 10%;
}

.word{
    border: 2px solid black;
    
}

.word:hover{
    background-color:red;
    cursor: pointer;
}

#gameWon, #successSaveDiv{
    position: fixed;
    left: 20%;
    top: 30%;
    height: 50%;
    width: 60%;
    display: table-cell;
    vertical-align: middle;
    background: green;
    border: 2px dotted black;
    text-align: center;
    visibility: hidden;
}



#gameOver{
    position: fixed;
    left: 20%;
    top: 30%;
    width: 60%;
    height: 40%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 90px;
    background-color: red;
    border: 2px dotted black;
    visibility: hidden;
}
