@font-face {
  font-family: myFont;
  src: url(font/orange\ juice\ 2.0.ttf);
}

.entry-item {
  width: 100%;
  margin: 20px 0;
  font-family: myFont;
  font-size: x-large;
  border-width: 5px;
  border-style: dotted;
  background-color: green;
}

.content {
  height: 50px;
}

.entry-item .ui.card {
  width: 100%;
  padding: 20px 0;
}

.ui button{
  font-family: myFont;
  font-size: large;
}
